body {
  background-color: green;
  text-align: center;

}

.navbar {
  text-align: right;
  color: purple;
  font-family: sans-serif;
  font-weight: 600;

}
a:hover {
  font-weight: lighter;
  color: yellow;
}

#imgs{ display: inline-block; padding:10px; border:black double 10px;
}
.img {border:black solid 1px; max-width: 400px; display: inline-block}
.desc {
  text-align: center; background-color: #fff;
}
.btn {
text-align: center;}
